.live-container {
  position: fixed;
  cursor: pointer;
  margin-right: 6px;
  display: flex;
  z-index: 3;
  padding: 10px 10px;
}

.clasic-model__canvas .live-container {
  top: 0;
  right: 0;
}

.modern-model__canvas .live-container {
  top: 5%;
  right: 5%;
}

.live-p {
  margin-right: 3px;
  margin-top: 15px;
  color: white;
}

.live-icon {
  height: 35px !important;
  width: auto !important;
}

@media (max-width: 480px) {
  .live-icon {
    height: 25px !important;
  }
  .live-p {
    margin-right: 3px;
    margin-top: 5px;
    color: white;
  }
}
